body {
    display: flex;
    justify-content: center;
}

div#container {
    align-items: center;
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 90vw;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align: center;
}

div#visor {
    background-color: rgb(182, 202, 143);
    border: 4px inset lightslategray;
    border-radius: 4px;
    height: 150px;
    max-width: 400px;
    width: 80vw;
}

div#visor > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    margin: 8px;
    text-align: right;
}

div#btn-container {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    max-width: 300px;
    width: 80vw;
}

div#btn-container-head {
    display: flex;
    justify-content: space-between;
}

div#btn-container-body {
    display: flex;
    justify-content: center;
}

div#btn-container-nums {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

div#btn-container-ops {
    display: flex;
    flex-direction: column;
}

button {
    background-color: black;
    border: 3px outset lightgray;
    border-radius: 8px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    height: 72px;
    width: 72px;
}

button:hover {
    background-color: rgb(26, 26, 26);
}

button:active {
    border: 3px inset gray;
    border-radius: 8px;
}

button#clear, button#backspace {
    background-color: rgb(172, 0, 0);
    width: 144px;
}

button#clear:hover, button#backspace:hover {
    background-color: rgb(172, 46, 46);
}

button#equal {
    background-color: rgb(0, 190, 127);
}

button#equal:hover {
    background-color: rgb(52, 165, 127);
}